@import "tailwindcss";

/* Apply custom font globally */
* {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

/* Base layout styling */
html,
body {
  background-color: black;
  color: lightgray;
}

/* Custom dashed border */
.hr-dash-long {
  border: 2px dashed transparent;
  border-radius: 10px;
  border-image: repeating-linear-gradient(
    to right,
    lightgray 30px 40px,      /* dash from 30px to 40px */
    transparent 40px 60px     /* gap from 40px to 60px */
  );
  border-image-slice: 1;
}
